body {
  text-align: center;
  width: auto;
}

.header {
  background-image: url("./images/the-flatiron-building.png");
  background-size: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

a {
  font-family: helvetica;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

h1 {
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: helvetica;
  font-size: 14px;
}

.designed {
  background-image: url("./images/the-flatiron-building.png");
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
